header{
    background-color: #09003f;
    color:beige;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-align: left;

}

a /* Estiliza os links dentro do header */{
    color: beige;
    text-decoration: none; /* Remove o sublinhado dos links */
}

.nav-links {
    list-style: none;
    display: flex;       /* Alinha os itens em linha */
    flex-direction: row; /* Garante que fiquem lado a lado */
    align-items: center;
    color: beige;
}

.nav-links li {
    margin-left: 25px;   /* Espaço entre um link e outro */
    white-space: nowrap; /* Impede que o texto quebre linha dentro do link */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

section #welcome-section {
    background-image: url("./assets/dentista.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    text-align: center;
}

footer{
    background-color: #09003f;
    font-family: "Montserrat", sans-serif;
    color:beige;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-decoration: wavy;

}